^ContentPage {
    background-color: #808080;
    padding: 15;
}

^Label {
    text-align: left;
    font-style: initial;
    vertical-align: center
    color: black;
}

    ^Label.key {
        font-style: Bold;
        font-size: 10;
    }
    ^Label.value {
        font-style: Bold;
        font-size: 12;
        color: blue;
    }

#BackFrame1 {
    background-color: #d8d8d8;
    padding: 15;
    border-radius: 5;
    margin-top: 20
}
